body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf3f8; /* Azul súper pastel */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100px;
    border-bottom: 2px solid #ddd;
    position: relative;
    z-index: 10;
}

.header_logo img {
    height: 110px;
    margin-left: auto;
    margin-right: -20px;
    position: relative; 
    top: 6px;
    cursor: pointer;
}
.logo_link {
    display: inline-block; /* Asegura que sea clickeable */
}

/* Menu */
/* Contenedor principal del menú */
#menu_desplegable {
    position: relative;
    display: inline-block;
}

/* Lista del menú */
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

/* Imagen del menú */
.nav img.img_menu {
    height: 40px;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 10px;
}

/* Elementos del menú desplegable */
.item_menu {
    display: none; /* Oculta las opciones inicialmente */
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Cambia de absolute a relative si hay problemas de posición */
    top: 80px;
    z-index: 10; /* Asegura que las opciones estén sobre otros elementos */
    width: auto; /* Ajusta el ancho automáticamente al contenido */
    margin-bottom: 3px; /* Espacio entre las opciones del menú */
}

/* Mostrar las opciones al interactuar */
#menu_desplegable:hover .item_menu {
    display: block; /* Muestra todas las opciones */
}

/* Estilo de los enlaces */
.item_menu a {
    display: block;
    text-decoration: none;
    color: rgb(42, 74, 115);
    padding: 5px;
    margin: 2px 0;
    border-radius: 15px;
    font-weight: bold;
}

.item_menu a:hover {
    background-color: #f0f0f0; /* Cambia el fondo al pasar el ratón */
}

/* Fin cabecera */
.psico-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.psico {
    width: calc(33.33% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #d4ecf7; /* Fondo azul claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 8px;
    box-sizing: border-box;
}

.psico:hover {
    transform: scale(1.05);
    background-color: #cfe4f0; /* Cambio a un azul más brillante */
}

.psico img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.psico h2 {
    text-align: center;
    color: #004d73;
}

.psico p {
    text-align: center;
    color: #004d73;
}

.psico button {
    background-color: #007bb5; /* Azul fuerte */
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.psico button:hover {
    background-color: #005f8c; /* Azul más oscuro */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(171, 207, 223, 0.9); /* Azul con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-align: justify;
}

#modal-image {
    width: 100%;
    max-height: 400px; /* Limitar la altura */
    object-fit: contain; /* Ajustar la imagen manteniendo las proporciones */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #004d73;
    text-decoration: none;
    cursor: pointer;
}

/* Botón para subir */
#scrollToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none; /* Oculto inicialmente */
    background-color: #407d9b; /* Color base */
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    font-weight: bold; /* Hacer la flecha más gruesa */
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#scrollToTop.show {
    display: flex; /* Mostrar como un botón flexible */
    opacity: 1; /* Totalmente visible */
}

#scrollToTop:hover {
    background-color: #104c64; /* Color al pasar el ratón */
    transform: scale(1.1); /* Animación de hover */
}

footer {
    text-align: center; 
    padding: 1em;
    background-color: #004d73; /* Azul oscuro */
    color: white;
    font-family: 'Times New Roman', Times, serif;   
}
