/* General */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: #333;
    position: relative;
    overflow-x: hidden;
    display: flex; /* Habilita Flexbox */
    flex-direction: column; /* Alinea header, main y footer */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}

body::before {
    content: "";
    background: url('../img/Decorativas/fondo.png') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    z-index: -1;
    filter: blur(3px); /* Desenfoque */
    opacity: 0.4; /* Transparencia para suavizar */
}

/* Cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100px;
    border-bottom: 2px solid #ddd;
    position: relative;
    z-index: 10;
}

.header_logo img {
    height: 110px;
    margin-left: auto;
    margin-right: -20px;
    position: relative; 
    top: 6px;
    cursor: pointer;
}

/* Menu */
#menu_desplegable {
    position: relative;
    display: inline-block;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav img.img_menu {
    height: 40px;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 10px;
}

.item_menu {
    display: none;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 80px;
    z-index: 10;
    width: auto;
    margin-bottom: 3px;
}

#menu_desplegable:hover .item_menu {
    display: block;
}

.item_menu a {
    display: block;
    text-decoration: none;
    color: rgb(42, 74, 115);
    padding: 5px;
    margin: 2px 0;
    border-radius: 15px;
    font-weight: bold;
}

.item_menu a:hover {
    background-color: #f0f0f0;
}

/* Main Section */
main {
    flex: 1; /* Toma el espacio restante entre el header y el footer */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 10px;
    position: relative;
    z-index: 5;
}

.bloque {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    width: 300px;
}

.bloque:hover {
    transform: translateY(-10px);
}

.bloque a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 20px;
}

.bloque img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.bloque h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #53cabe;
}

.bloque p {
    font-size: 14px;
    color: #666;
    margin: 10px 0 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em;
    background-color: #004d73; /* Azul oscuro */
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
