body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFAF4;
}

header {
    margin-bottom: 100px;
    background-color: #f3e9dd;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
    color: #4b5320;
}

/* Estilos del logotipo en el encabezado */
.logo {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Línea debajo del logotipo */
.linea_abajo {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    border-bottom: 3px solid #d4d1c9;
}

/* Imagen del menú */
.img_menu {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 40px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(95, 76, 54);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(95, 76, 54);
    text-decoration: none;
    cursor: pointer;
}

#menu_carrito:hover {
    cursor: pointer;
}

#menu_desplegable:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #f3e9dd;
    color: #fff;
}

/* Estilos del texto en el pie de página */
.footer-text {
    font-family: 'Times New Roman', Times, serif;
    color: #4b3b1d;
    font-size: 17px;
    text-align: justify;
    margin-top: 20px;
    line-height: 1.5;
}

/* ESTILOS PARA EL MENÚ DESPLEGABLE */

/* Menú inicialmente: */
#menu_carrito:hover {
    cursor: pointer;
}

#menu_desplegable:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* ESTILOS PARA EL MENÚ DESPLEGABLE */

/* Menú inicialmente: */
#menu_desplegable {
    display: inline-block;
}

/* Menú al poner el ratón: */
#menu_desplegable:hover {
    cursor: pointer;
    background-color: #c1ac87;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
}

/* Quita el estilo de lista por defecto */
.nav {
    list-style: none;
}

/* Los items de la lista */
.nav > li {
    float: left;
}

/* Despliegue */
.nav li a {
    background-color: #c1ac87;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

/* Cuando el ratón se pone encima: */
.nav li a:hover {
    background-color: #434343;
}

/* De normal están sin ser vistas */
.item_menu {
    display: none;
    position: absolute;
    min-width: 140px;
}

/* Diseño flexible para la sección principal */
.main_sn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* Centra la nueva imagen arriba */
.imagen_arriba {
    width: 100%;
    height: 60vh;
    margin-bottom: 10%;
}

/* Estilos para el texto centrado */
.text_center {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(88, 74, 54);
}
