body {
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
   
}

/* Estilos del logotipo en el encabezado */
.logo {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

/* Imagen del menú */
.img_menu {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 50px;
    height: 40px;
}

.eslogan {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 10px;
    margin-left: 30%;
    font-size: 3vh;
}

/* Contenedor del logo y eslogan */
.logo_eslogan {
    text-align: right;
    margin-top: 0px;
    margin-right: 5%;
}

/* Estilo para la imagen a la izquierda */
.imagen_izquierda {
    width: 50%;
    height: 100vh;
    object-fit: cover;
    margin-left: 10%;
}

/* Estilo para el botón "Tienda" */
.boton_tienda {
    position: absolute;
    top: 40px;
    right: 40px; /* Ajusta la posición para que esté en la esquina superior derecha */
    background-color: #F1E8DF; /* Color verde */
    color: #4B5320;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 10px; /* Bordes redondos */
    border:  2px solid #4B5320;
    cursor: pointer;
}





/* ESTILOS PARA EL MENÚ DESPLEGABLE */

/* Menú inicialmente: */
#menu_desplegable{
    display: inline-block;
}

/* Menú al poner el ratón: */
#menu_desplegable:hover{
    cursor: pointer;
    background-color: #c1ac87;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-top: 35px;
    margin-left: 35px;


}

/* Quita el estilo de lista por defecto */
.nav {
    list-style:none;
}
   
/* Los items de la lista */
.nav > li {
    float: left;
    font-family: Arial, sans-serif;
}


/* Despliegue */
.nav li a {
    background-color: #c1ac87;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}


/* Cuando el ratón se pone encima: */
.nav li a:hover {
    background-color:#434343;
}


/* De normal están sin ser vistas */
.item_menu{
    display:none;
    position:absolute;
    min-width:140px;
}