body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f3e9dd;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
    color: #4b5320;
}

.logo {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.linea_abajo {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    border-bottom: 3px solid #d4d1c9;
}

.img_menu {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 40px;
}

#menu_carrito {
    position: static;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 115px;
    padding-right: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    background-color: white;
    padding: 20px;
}

.product {
    width: calc(33.33% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    box-sizing: border-box;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.product h2 {
    text-align: center;
}

.product p {
    text-align: center;
}

.product button {
    background-color: rgb(95, 76, 54);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: rgb(95, 76, 54);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(95, 76, 54);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(95, 76, 54);
    text-decoration: none;
    cursor: pointer;
}

#menu_carrito:hover {
    cursor: pointer;
}

#menu_desplegable:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#menu_desplegable {
    display: inline-block;
}

#menu_desplegable:hover {
    cursor: pointer;
    background-color: #c1ac87;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.nav {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #c1ac87;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.item_menu {
    display: none;
    position: absolute;
    min-width: 140px;
}
